/* GENERAL (HEADER/FOOTER) */

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    overflow-x: hidden;
	background: white
}

.nav>li>a {
    color: black;
    padding:0;
}

.nav>li>a:hover {
    background-color: transparent;
}

.navbar {
    margin-left: 20px;
    background: transparent;
    border: 0;
}

.navbar-header img {
    height: 30px;
    max-height: none;
}

.navbar .navbar-brand {
	padding-top: 23px;
}

.navbar .navbar-right {
	margin-right: 20px;
	padding-top: 20px
}

.sidebar {
    position: fixed;
    z-index: 10;
	margin-top: 10px;

    margin-left: 35px;
    font-size: 15px;
	font-weight: 600;
	font-style: oblique;
}

.sidebar li a {
	margin-bottom: 15px;
}

::-webkit-scrollbar {
display: none;
}

/* POSTERS PAGE (row) */

.row-center {
    text-align: center;
}

.posters > .row > .imglist {
    display: block;
    float: none;
    padding-right: 30px;
}

.posters img {
    width: auto;
    /* max-height: 100vh; */
    height: 80vh;
}

.posters > .row {
    overflow-x: auto;
    white-space: nowrap;

}


.col-xs-4 {
    padding-bottom: 20px;
    padding-right: 5px;
}


/* PROJECTS PAGE */

.project {
    padding-top: 10px;
    outline: thin;
    
  }

.colimage {
   padding-bottom: 30px;
}
.colimage img{
    width: 65vh;
}

.colinfo {
    margin-left: 50px;
    text-align: left;
}

.colheader{
    font-size: 20px;
}

.colbody{
    font-size: 17px;
    font-weight: lighter;
    line-height: 20px;
    color: black;
}

/* Webcam Page */

.webcamgif {
    padding-top: 10px;
    text-align: center;
}

/* About */

.aboutinfo {
    padding-top: 10px;
}

.col1 {
    border-style: solid;    
    border-width: 0px;
    border-color: black;
}

.col1 img {
    max-width: 100%
}

.col2 {
    border-style: solid;    
    border-width: 0px;
    border-color: black;

    font-size: 30px;
    font-weight: lighter;
    line-height: 32px;
    color: black;
}
