/* GENERAL (HEADER/FOOTER) */

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    overflow-x: hidden;
	background: rgb(255, 255, 255);
}

.nav>li>a {
    color: rgb(0, 0, 0);
    padding:0;
}

.nav>li>a:hover {
    background-color: transparent;
}

.navbar {
    margin-left: 2vw;
    background: transparent;
    border: 0;
}

.navbar-header img {
    height: 40px;
    max-height: none;
}

.navbar .navbar-brand {
	padding-top: 23px;
}

.navbar .navbar-right {
	margin-right: 20px;
	padding-top: 20px;
    font-size: 12pt;
}

.sidebar {
    position: fixed;
    z-index: 10;
	margin-top: 10px;

    margin-left: 35px;
    font-size: 15px;
	font-weight: 600;
	font-style: oblique;
}

.sidebar li a {
	margin-bottom: 15px;
}

::-webkit-scrollbar {
display: none;
}

/* POSTERS PAGE (row) */

.row{
    margin-right: 25vw;
    margin-left: 2vw;
    max-width: 100%;
    position: absolute;
    left: 0vw;
    padding-top: 2vw;
}

.col2 {
    border-style: solid;    
    border-width: 0px;
    border-color: rgb(0, 0, 0);
}

.col2 img {
    max-height: 50vh;
    max-width: 60vw;
    overflow: visible;
}

.col1 {
    border-style: solid;    
    border-width: 0px;
    border-color: rgb(0, 0, 0);
    max-width: 50%;
    min-width: 50%;

    font-size: 30px;
    font-weight: lighter;
    line-height: 32px;
    color: rgb(0, 0, 0);
    position: sticky;
}




/* Webcam Page */


.webcamgif {
    padding-top: 10px;
    text-align: center;
}